<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProviDesk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6AE35D51F7111B70077C308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6AE35EC1F7111B80077C308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6AE35F71F7111B80077C308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
